body {
    background-color: beige;
}

/* html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color:beige;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */


footer {
    /* background-color: #333; */
    color: black;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
}

